$transitionTime: 0.5s;

.sidebar {
  width: 250px;
  position:fixed;
  background-color: #7F1079;
  color: white;
  padding:10px;
  margin:0px;

  a {
    text-decoration: none;
    color: inherit;
  }

  &.open {
    transition: left $transitionTime;
    top: 0;
    left: 0;
  }

  &.closed {
    transition: left $transitionTime;
    top:0;
    left: -200px;
  }

  header {
    h4 {
      float:left;
    }
    a {
      float: right;
      padding-top: 10px;
      font-size:2em;
    }
  }

  ul {
    list-style: none;
    font-size: 1.3em;

    li {
      padding-top: 10px;
      transition: opacity $transitionTime;
      opacity: 0.8;

      &:hover {
        opacity: 1;
        &:after {
          float:right;
          font-family: "icomoon";
          content: "\ed73";
        }
      }

      a {
        margin: 2px;
      }
    }
  }
}
