div.lead-details
  form-group
    control-label Interests
    input(name="interests" ng-model="lead.interests").lead-details-interests

  form-group
    control-label Due date
    input(name="dueDate" ng-model="lead.dueDate").lead-details-due-date


  form-group
    control-label
    textarea(name="notes" ng-model="lead.notes").lead-details-notes