section(ng-form="addressForm").directive.address
  form-group
    control-label Line 1
    input(ng-model="address.line1" name="line1" required)

  form-group
    control-label Line 2
    input(ng-model="address.line2" name="line2" maxlength="40")

  form-group
    control-label Line 2
    input(ng-model="address.line2" name="line3" maxlength="40")

  form-group
    control-label Town
    input(ng-model="address.town" name="town" maxlength="40")

  form-group
    control-label Postcode
    input(ng-model="address.postcode" name="postcode" maxlength="8").postcode

  address-type(address="address")



