sidebar
  sidebar-header
    header
      h3 Leads

  sidebar-content
    form(name="leadsSidebarForm")
      search-input

    ul.sidebar-list
      li.leads-sidebar-list-item
        a(href="/#/lead/create") Create lead
