nav(ng-class="{'open': open, 'closed': !open}").sidebar
  header
    div(data-title-html)
    a(href='' ng-click="toggle()")
      i(ng-class="{'icon-arrow-right': !open, 'icon-arrow-left': open}")
  clearfix
  div(data-content-html)