nav.sidebar
  a(href='' ng-click="toggle()").sidebar-toggle

  div(data-sidebar)
    div(data-sidebar-header ng-class="{'sidebar-header': open, 'sidebar-header-closed': !open}")

    clearfix

    div(data-sidebar-content ng-class="{'sidebar-content': open, 'sidebar-content-closed': !open}")
