table.list-table.table.table-hover
  thead
    tr
      td ID
      td Customer
      td Status
      td Created
  tbody
    tr(ng-repeat="lead in leads")
      td {{lead.id}}
      td {{lead.customer | customerToString}}


